@if (journal$ | async; as journal) {
  <section class="reports">
    <button mat-flat-button (click)="showReportConfigDialog()">
      {{ 'view_generate_report' | translation }}
    </button>
  </section>
  <main [style.grid-template-areas]="cellsTemplateAreas()">
    <div class="fill"></div>
    @for (column of journal.columns; track column.id) {
      <journal-column-cell [style.grid-area]="columnArea(column)" [column]="column" [canEdit]="canEdit(journal)" />
    }
    @for (row of journal.rows; track row.id) {
      <span [style.grid-area]="rowArea(row)">{{ row.title }}</span>
    }
    @for (cell of cells(); track cell) {
      <journal-cell [style.grid-area]="emptyCell(cell)" [cell]="getCell(journal, cell)"
                    [canEditMarks]="canEdit(journal)" />
    }
    @for (cell of journal.cells; track cell.point) {
      <journal-cell [style.grid-area]="cellArea(cell)" [cell]="cell" [canEditMarks]="canEdit(journal)" />
    }
  </main>
}
