:host {
  display: flex;
  padding: var(--indent2) var(--indent3);
  gap: var(--indent2);
  border-radius: var(--border-radius2);
}

:host > span {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
